<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net452" />
  <package id="NuGet.Build.Tasks.Pack" version="4.0.0" targetFramework="net462" />
  <package id="NuGet.CommandLine" version="1.0.11220.26" targetFramework="net462" />
</packages>